@import "_variable";

/* rem */
@function rem($px) {
  @return calc($px / 16 * 1rem);
}

/* vw - pc 기준 */
@function vw($px) {
  @return calc(($px * 100) / 1920 * 1vw);
}

/* media Query */
@mixin tablet {
  @media all and (min-width: #{$tab}){
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: #{$pc}){
    @content;
  }
}


/* font */
@mixin font($fs,$lh:0,$fw:400,$cl:$black,$ls:0){
  font-size:rem($fs);
  @if not ($lh == 0) {
    line-height:$lh;
  }
  @if not ($fw == 400) {
    font-weight:$fw;
  }
  @if not ($cl == $black) {
    color:$cl;
  }
  @if not ($ls == 0) {
    letter-spacing:$ls;
  }
}

/* img */
@mixin img($fit:contain) {
  width:100%;
  height:100%;
  object-fit:$fit;
}

/* btn */
@mixin btn($co:$white) {
  display:flex;
  align-items:center;
  justify-content:center;
  @include font(14,100%,600);
  width: fit-content;
  height:rem(38);
  border-radius:rem(100);
  padding:0 rem(16);
  background:$co;
  @if ($co == $white) {
    border:1px solid $midGray;
    color:$black;
    &:hover,
    &:active {
      border:none;
      background: $red;
      color:$white;
    }
  }
  @else { 
    color:$white;
    &:hover,
    &:active {
      border:1px solid $midGray;
      background: $white;
      color:$black;
    }
  }
  @include desktop{
    font-size:rem(16);
    height:rem(44);
    padding:0 rem(20);
  }
}