@font-face {
  font-display: swap;
  font-family: LGEI Headline;
  font-style: normal;
  font-weight: 700;
  src: local("LGEI Headline Bold"),local("LGEIHeadline-Bold"),url(../font/LGEIHeadline-Bold.woff2) format("woff2"),url(../font/LGEIHeadline-Bold.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: LGEI Headline;
  font-style: normal;
  font-weight: 300;
  src: local("LGEI Headline Light"),local("LGEIHeadline-Light"),url(../font/LGEIHeadline-Light.woff2) format("woff2"),url(../font/LGEIHeadline-Light.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: LGEI Headline;
  font-style: normal;
  font-weight: 400;
  src: local("LGEI Headline Regular"),local("LGEIHeadline-Regular"),url(../font/LGEIHeadline-Regular.woff2) format("woff2"),url(../font/LGEIHeadline-Regular.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: LGEI Headline;
  font-style: normal;
  font-weight: 600;
  src: local("LGEI Headline Semibold"),local("LGEIHeadline-Semibold"),url(../font/LGEIHeadline-Semibold.woff2) format("woff2"),url(../font/LGEIHeadline-Semibold.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: LGEI Headline;
  font-style: normal;
  font-weight: 100;
  src: local("LGEI Headline Thin"),local("LGEIHeadline-Thin"),url(../font/LGEIHeadline-Thin.woff2) format("woff2"),url(../font/LGEIHeadline-Thin.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: LGEI Text;
  font-style: normal;
  font-weight: 700;
  src: local("LGEI Text Bold"),local("LGEIText-Bold"),url(../font/LGEIText-Bold.woff2) format("woff2"),url(../font/LGEIText-Bold.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: LGEI Text;
  font-style: normal;
  font-weight: 300;
  src: local("LGEI Text Light"),local("LGEIText-Light"),url(../font/LGEIText-Light.woff2) format("woff2"),url(../font/LGEIText-Light.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: LGEI Text;
  font-style: normal;
  font-weight: 400;
  src: local("LGEI Text Regular"),local("LGEIText-Regular"),url(../font/LGEIText-Regular.woff2) format("woff2"),url(../font/LGEIText-Regular.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: LGEI Text;
  font-style: normal;
  font-weight: 600;
  src: local("LGEI Text Semibold"),local("LGEIText-Semibold"),url(../font/LGEIText-SemiBold.woff2) format("woff2"),url(../font/LGEIText-Semibold.woff) format("woff")
}